<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades-de-aprendizaje.-Yocelin-Juarez-Arroyo-A00819828/blob/main/IBM-Python%20Module%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists and Tuples (8:46)

In [ ]:
A=(0,1,2,3)
A[3] #Las dos son formas pposibles de acceder al último dígito}
A[-1]

3

In [ ]:
B=["a","b","c"]
B[1:]#Esta sintáxis nos da de la posición 1 en adelante, sin tomar en cuenta la  0.

['b', 'c']

# Lab - Tuples

In [ ]:
# Create your first tuple
tuple1 = ("disco",10,1.2 )
print(tuple1)

# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

# Use negative index to get the value of the last element
tuple1[-1]

('disco', 10, 1.2)
disco
10
1.2
<class 'str'>
<class 'int'>
<class 'float'>

1.2

Concatenate Tuples

In [ ]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
tuple2[3:5]

('hard rock', 10)

In [ ]:
# Get the length of tuple

len(tuple2)

5

In [ ]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

Slicing

In [ ]:
# Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
# Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 10)

 Sorting

In [ ]:
# A sample tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
# Sort the tuple
RatingSorted=sorted(Ratings)
RatingSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

Nested Tuple

In [ ]:
# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

# Print element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])
print("\n")

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])
print("\n")
#Vamos a a fondo en el tuple
print(NestedT[2][1][0])
print(NestedT[2][1][1])
print(NestedT[4][1][0])
print(NestedT[4][1][1])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))


Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)


r
o
1
2

 Quiz on Tuples

In [ ]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco") 
genres_tuple
len(genres_tuple)#Find the length of the tuple, genres_tuple:
genres_tuple[3] #Access the element, with respect to index 3:
genres_tuple[3:6] #Use slicing to obtain indexes 3, 4 and 5:
genres_tuple[0:2] #Find the first two elements of the tuple"
genres_tuple.index("disco")#Find the first index of <code>"disco"</code>:
C_tuple=(-5, 1, -3)
C_tupleSorted=sorted(C_tuple)
C_tupleSorted

[-5, -3, 1]

#Lab - Lists

Indexing

In [ ]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

List Operations

In [ ]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
#List slicing
L[3:5]

['MJ', 1]

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
# Use append to add elements to list, (SOLO PARA AÑADIR 1 ELEMENTO)

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [ ]:
#Para cambiar elemtnos de la lista
# Change the element based on the index
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [ ]:
# Delete the element based on the index
#Para eliminar cosas de la lista
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [ ]:
#Convertir caracteres separados por un espacio en blanco a una lista:
#Cambiar línea de texto a lista
# Split the string, default is by space
'hard rock'.split()

['hard', 'rock']

In [ ]:
# Split the string by comma
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

Copy and Clone List

In [ ]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)
# Examine the copy by reference
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]
B[0]: hard rock
B[0]: banana

In [ ]:
# Clone (clone by value) the list A
A = ["hard rock", 10, 1.2]
B = A[:]

#Now if you change A, B will not change:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: hard rock

 Quiz on List

In [ ]:
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

[1, 'hello', [1, 2, 3], True]

In [ ]:
#Find the value stored at index 1 of a_list
a_list = [1, 'hello', [1, 2, 3] , True]
a_list[1]

'hello'

In [ ]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list = [1, 'hello', [1, 2, 3] , True]
a_list[1:4]

['hello', [1, 2, 3], True]

In [ ]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a']
B = [2, 1, 'd']
C= A + B
C

[1, 'a', 2, 1, 'd']

#Sets (5:12)

In [ ]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
S={'A','B','C'}
U={'A','Z','C'}
S&U

{'A', 'C'}

#Lab - Sets (External resource)

Set Content

In [ ]:
# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
#convertir una lista a Set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

Set operations

In [ ]:
#Añadir y remover elementos a un Set
A = set(["Thriller", "Back in Black", "AC/DC"])
print("Antes de añadir=", A)
A.add("NSYNC")
print("Despues de añadir=", A)
A.remove("NSYNC")
print("Despues de remover=", A)
# Verify if the element is in the set
"AC/DC" in A

Antes de añadir= {'Thriller', 'Back in Black', 'AC/DC'}
Despues de añadir= {'Thriller', 'Back in Black', 'AC/DC', 'NSYNC'}
Despues de remover= {'Thriller', 'Back in Black', 'AC/DC'}

True

Sets Logic Operations

In [ ]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [ ]:
#Intersecciones
intersection=album_set1&album_set2
intersection

{'AC/DC', 'Back in Black'}

In [ ]:
#Elementos que SOLO estan en el set 1
album_set1.difference(album_set2)

{'Thriller'}

In [ ]:
#Elementos que SOLO estan en el set 2
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [ ]:
#Otro metodo de intersecciones
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [ ]:
#Uniones de los set
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
#Checar si estamos frente a un subset del album set 1
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [ ]:
#Checar si album set 1 es un SUPERSET
album_set1.issuperset({"Back in Black", "AC/DC"})

True

Quiz on Sets

In [ ]:
list_a=['rap','house','electronic music', 'rap']
set_s=set(list_a)
set_s

{'electronic music', 'house', 'rap'}

In [ ]:
A = [1, 2, 2, 1]
B = set([1,2,2,1])
sum(A)
sum(B)

3

In [ ]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
album_set1.issubset(album_set3)

True

#Dictionaries

In [2]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [6]:
#Crear diccionario
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [7]:
# Access to the value by the key
Dict["key1"]

1

In [8]:
# Access to the value by the key en este caso nuestra KEY es un TUPLE
Dict[(0, 1)]

6

In [12]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
"The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
  "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
 "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

Keys

In [11]:
# Get value by keys
release_year_dict['Thriller']

'1982'

In [13]:
# Get value by key
release_year_dict['The Bodyguard']

'1992'

In [14]:
# Get all the keys in dictionary
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [15]:
# Get all the values in dictionary
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [16]:
# Append value with key into dictionary
#añadir valor y llave al diccionario
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [17]:
# Delete entries by key
#Eliminar algo del dicccionario
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [18]:
# Verify the key is in the dictionary
'The Bodyguard' in release_year_dict

True

Quiz on Dictionaries

In [23]:
# Question sample dictionary
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [22]:
#In the dictionary soundtrack_dic what are the keys ?
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [24]:
# In the dictionary soundtrack_dic what are the values ?
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [26]:
#Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.
album_sales_dict={"Black in Black":50,"The Bodyguard":50,"Thriller":65}
album_sales_dict

{'Black in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [32]:
album_sales_dict["Thriller"]

65

In [33]:
album_sales_dict.keys()

dict_keys(['Black in Black', 'The Bodyguard', 'Thriller'])

In [34]:
album_sales_dict.values()

dict_values([50, 50, 65])

In [35]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)