<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades-de-aprendizaje.-Yocelin-Juarez-Arroyo-A00819828/blob/main/IBM-Python%20Module%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists and Tuples (8:46)

In [4]:
A=(0,1,2,3)
A[3] #Las dos son formas pposibles de acceder al último dígito}
A[-1]

3

In [5]:
B=["a","b","c"]
B[1:]#Esta sintáxis nos da de la posición 1 en adelante, sin tomar en cuenta la  0.

['b', 'c']

# Lab - Tuples (External resource)

In [25]:
# Create your first tuple
tuple1 = ("disco",10,1.2 )
print(tuple1)

# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

# Use negative index to get the value of the last element
tuple1[-1]

('disco', 10, 1.2)
disco
10
1.2
<class 'str'>
<class 'int'>
<class 'float'>

1.2

Concatenate Tuples

In [26]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [27]:
tuple2[0:3]

('disco', 10, 1.2)

In [28]:
tuple2[3:5]

('hard rock', 10)

In [29]:
# Get the length of tuple

len(tuple2)

5

In [52]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

Slicing

In [53]:
# Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [54]:
# Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 10)

 Sorting

In [35]:
# A sample tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
# Sort the tuple
RatingSorted=sorted(Ratings)
RatingSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

Nested Tuple

In [45]:
# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

# Print element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])
print("\n")

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])
print("\n")
#Vamos a a fondo en el tuple
print(NestedT[2][1][0])
print(NestedT[2][1][1])
print(NestedT[4][1][0])
print(NestedT[4][1][1])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))


Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)


r
o
1
2

 Quiz on Tuples

In [65]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco") 
genres_tuple
len(genres_tuple)#Find the length of the tuple, genres_tuple:
genres_tuple[3] #Access the element, with respect to index 3:
genres_tuple[3:6] #Use slicing to obtain indexes 3, 4 and 5:
genres_tuple[0:2] #Find the first two elements of the tuple"
genres_tuple.index("disco")#Find the first index of <code>"disco"</code>:
C_tuple=(-5, 1, -3)
C_tupleSorted=sorted(C_tuple)
C_tupleSorted

[-5, -3, 1]

#Lab - Lists

Indexing

In [66]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [67]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

List Operations

In [69]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [70]:
#List slicing
L[3:5]

['MJ', 1]

In [71]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [72]:
# Use append to add elements to list, (SOLO PARA AÑADIR 1 ELEMENTO)

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [73]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [74]:
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [76]:
#Para cambiar elemtnos de la lista
# Change the element based on the index
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [77]:
# Delete the element based on the index
#Para eliminar cosas de la lista
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [79]:
#Convertir caracteres separados por un espacio en blanco a una lista:
#Cambiar línea de texto a lista
# Split the string, default is by space
'hard rock'.split()

['hard', 'rock']

In [80]:
# Split the string by comma
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

Copy and Clone List

In [82]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)
# Examine the copy by reference
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]
B[0]: hard rock
B[0]: banana

In [3]:
# Clone (clone by value) the list A
A = ["hard rock", 10, 1.2]
B = A[:]

#Now if you change A, B will not change:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: hard rock

# Quiz on List

In [7]:
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

[1, 'hello', [1, 2, 3], True]

In [9]:
#Find the value stored at index 1 of a_list
a_list = [1, 'hello', [1, 2, 3] , True]
a_list[1]

'hello'

In [10]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list = [1, 'hello', [1, 2, 3] , True]
a_list[1:4]

['hello', [1, 2, 3], True]

In [12]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a']
B = [2, 1, 'd']
C= A + B
C

[1, 'a', 2, 1, 'd']